* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
  }
  
  ul, li {
    list-style-position: inside;
  }
  
  h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
  }
  
  button {
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
    border-radius:160px;
  }
  
  button:hover {
    border: none;
    background: #1F4C69;
    color: white;
    padding: 10px;
  }
  
  button:disabled {
    cursor: default;
    background: #698ea5;
  }
  
  .centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.505),rgba(0, 0, 0, 0.905)),url("form-background.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .centered-form__form {
    box-shadow: 18px -7px 25px 7px rgba(0,0,0,0.70);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 20px;
    width: 406.5px;
  }

  .form-filed__label{
    color:white;
  }

  .form-field__btn{
    border-radius:160px;
    width: 2rem;
  }

  .header__message{
    color:#1Ae;
    text-transform:uppercase;
    text-align: center;
    font-size: x-large
  }
  
  .form-field {
    margin: 20px 0;
  }
  
  .form-field > * {
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 7px;
  }
  
  .form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
  }
  
  .chat {
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.329)),url("chat-background.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  
  .chat__sidebar {
    overflow-y: scroll;
    width: 300px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.87)),url("people.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  
  .chat__sidebar h3 {
    color: #e6eaee;
    margin: 30px 20px;
    text-align: center;
  }
  
  .chat__sidebar ul {
    list-style-type: none;
  }
  
  .chat__sidebar li {
    background: #e6eaee;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .chat__footer {
    background: #e6eaee;
    display: flex;
    padding: 10px;
    /*height: 60px;*/
    flex-shrink: 0;
  }
  
  .chat__footer form {
    flex-grow: 1;
    display: flex;
  }
  
  .chat__footer form * {
    margin-right: 10px;
  }
  
  .chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1;
  }
  
  .chat__messages {
    list-style-type: none;
    padding: 10px;
  }
  
  .message {
    padding: 10px;
  }
  
  .message__title {
    display: flex;
    margin-bottom: 5px;
  }
  
  .message__title h4 {
    font-weight: 600;
    margin-right: 10px;
  }
  
  .message__title span {
    color: #972;
  }

  .message__body p{
    color:#d05
  }

  .speech-bubble {
    position: relative;
    background: #c0c0c0;
    border-radius: 1.1em;
    margin-top: 5rem;
    width: 17.5rem;
    -webkit-box-shadow: 17px -7px 25px 13px rgba(0,0,0,0.37);
    -moz-box-shadow: 17px -7px 25px 13px rgba(0,0,0,0.37);
    box-shadow: 17px -7px 25px 13px rgba(0,0,0,0.37);
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 49px solid transparent;
    border-top-color: #c0c0c0;
    border-bottom: 0;
    border-right: 0;
    margin-left: -24.5px;
    margin-bottom: -49px;
  }
  
  @media (max-width: 690px) {
    * {
      font-size: 1rem;
    }
  
    /* .chat__sidebar {
      display: none;
    } */
  
    .chat__footer {
      flex-direction: column;
    }
  
    .chat__footer form {
      margin-bottom: 10px;
    }
  
    .chat__footer button {
      margin-right: 0px;
      border-radius:13px;
    }
  }

  @media (max-width: 480px){

    .chat {
      display:inline;
      background-image: linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.329)),url(chat-background.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
  }

.chat__sidebar {
    overflow-y: scroll;
    width: 132vw;
    height: 25.9vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.79),rgba(0, 0, 0, 0.07)),url(people.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.chat__sidebar li{
  width:6rem;
  margin-left: 2.1rem;
}

.speech-bubble{
  width: 11rem;
  margin-top: 3.3rem;
}

    .speech-bubble:after{
      margin-bottom: -22px;
    }

    button {
      padding:2px;
    }
.chat__footer{
  width:31.6rem;
}
    .chat__footer button {
      border-radius: 13px;
  }
  .chat__footer input {
    border: none;
    padding:0rem;
    width:11.1rem;
    flex-grow: 0;
}
.chat__sidebar h3 {
  color: #e6eaee;
  margin: 27px 11.6px;
  text-align: center;
}

.speech-bubble{
  margin-left: 1rem;
}
#message-form-btn__send{
  margin-right: 1rem;
  padding:0.9rem;
  font-size: medium;
}

#message-form-btn__location{
  padding:1rem;
  font-size: medium;
  width: 5.5rem;
}


  }